*{
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    margin: 0px; background-color: withe;
  }
  header {background-color: rgb(60, 4, 9);padding: 5px;color: blueviolet;
  
  }
  h1{color: red ;font-size: bold;text-align: center;}
  main{background-color: white;
  padding: 25px;
  color: blueviolet;
  width: 400px;
  margin: auto;
  }
  footer{background-color: darkred;color: blueviolet;padding: 10px;}
  div{margin-top: 10px;padding: 10px;border-bottom: 1px solid salmon;}
  .posteo{background-color: darkred;}
  .anuncio{background-color: blue;}
  #foto-perfil{border-radius: 50%;width:100px;height:100px;}
  img{width: 100%;}
  
  #nombre-usuario{font-weight: bold; border-bottom: 1px solid black;
  font-family: "Noto Sans Gothic", sans-serif;
  font-size: 20px;}
  
  
  
  .noto-sans-gothic-regular {
  font-family: "Noto Sans Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  h2{text-align: center;font-size: 30px;}